<!-- <div class="containing"> -->
  <!-- <div>School</div>
  <div>Courses</div>
  <div>Stuff I like</div>
  <div>Jobs(experience, skills and interest)</div>
  <div>pictures of me</div>
  <div>Connect With Me (Github, LinkedIn)</div> -->


  <mat-grid-list class="containing bordered" cols="1">
      <mat-grid-tile>School/Courses</mat-grid-tile>
      <!-- <mat-grid-tile>Jobs</mat-grid-tile>
      <mat-grid-tile>Stuff I like</mat-grid-tile>
      <mat-grid-tile>Pictures of Me?? make it as carousal?</mat-grid-tile> -->
      
    </mat-grid-list>
<!-- </div> -->