
<div class="containing">
  <div class="row center">
      <div class="text-center" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/img/18768620_10154819840479037_2599992808575070276_o.jpg" alt="Hyunjae Song">
        <div class="card-body">
          <h5 class="card-title">Hyunjae Song</h5>
          <p class="card-text">
            My name is Hyunjae Song. I am white.
          </p>
          <p class="card-text">
              -- something cool about myself --
          </p>
          <button class="btn btn-primary">Resume</button>
          <p>linkedIn, GitHub</p>
          <!-- <a href="#" title="LinkedIn" class="btn btn-linkedin btn-lg">
            <i class="fa fa-linkedin fa-fw"></i> LinkedIn</a> -->
          
        </div>
      </div>
  </div>
</div>